@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
body {
    overflow-y: hidden;
}
#event {
    /*margin-top: 5vh;*/
}

#superior_container {
    padding: 4vh 5vw 0 5vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo, #account_button{
    width: 4.5rem;
    height: auto;
    flex-direction: column;
}
#arrow_back_title_container {
    display: flex;
    padding: 4vh 0 3vh 0;
    justify-content: center;
}

#arrow_back_title_container h1 {
    color: #843d3f;
    font-family: PlayfairDisplay-Bold, serif;
    font-weight: 700;
    font-size: 2.8rem;
}

#button_arrow_back {
    border: none;
    cursor: pointer;
    position: absolute;
    left: 10vw;
    top: 15.5vh;
}

/*#title_arrow_event {
    display: flex;
    padding: 4vh 0 3vh 0;
    justify-content: center;
}

#title_arrow_event h1 {
    align-items: center;
    color: #843d3f;
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 3rem;
}*/

#title_arrow_event a {
    border: none;
    cursor: pointer;
    position: absolute;
    left: 10vw;
    top: 11vh;
}

#seta_descer {
    position: absolute;
    margin-left: -8vw;
    top: 71.5vh;
    /*border: red 2px solid;*/
}

#seta_descer2{
    position: absolute;
    display: none;
    margin-left: -8vw;
    top: 71.5vh;
    /*border: yellow 2px solid;*/
}

#seta_subir {
    position: absolute;
    margin-left: -8vw;
    top: 65vh;
    display: none;
    /*border: orange 2px solid;*/
}

#seta_subir2 {
    position: absolute;
    margin-left: -8vw;
    top: 71.5vh;
    display: none;
    /*border: green 2px solid;*/
}

#info_card_event {
    height: 900px;
    margin: 0 10vw 4vh 10vw;
    display: flex;
    flex-direction: column;
}

#info_event {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    overflow: hidden;
}

#info_event img {
    border-radius: 5px 5px 0 0;
}

#conteudo {
    margin: 0 4vw 0 4vw;
}

#conteudo h3 {
    font-family: Inter-SemiBold, sans-serif;
    font-weight: 600;
    font-size: 1.3rem;

    padding-top: 2vh;
}

#icon_go{
    margin-left: 12vw;
}

#data,
#hora,
#local,
#preço,
#amigos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2vh;
}

#data img,
#hora img,
#local img,
#preço img,
#amigos img {
    padding-right: 1vw;
}

#titulo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 2vh;
}
#titulo > h3{
    font-family: Inter-SemiBold, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.info_evento{
    font-family: Inter-Regular, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

#descricao h3 {
    padding-top: 1vh;
    margin-top: 3vh;
}

#descricao p {
    padding-top: 2vh;
}

#mapa h3 {
    padding-top: 1vh;
    margin-top: 3vh;
    padding-bottom: 2vh;
}

#mapa iframe {
    padding-bottom: 1vh;
}

#acessibilidade {
    color: #317262;
    border: 2px solid #317262;
    border-radius: 10px;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#acessibilidade_verde {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1vh;

    font-family: Inter-SemiBold, sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

#acessibilidade_verde img {
    padding-right: 1vw;
    padding-left: 1vw;
}

#acessibilidade_verde p {
    color: #317262;
}

#lista p {
    color: black;
    padding-left: 2vw;
}

#mais_informacao h3 {
    padding-top: 4vh;
    padding-bottom: 2vh;
}

#mais_informacao p {
    padding-bottom: 100vh;
    color: black;
}

